<div class="container w-xxl w-auto-xs" ng-controller="LoginCtrl">
    <div class="m-t-xxl"></div>
    <div class="m-b-lg">
        <div class="wrapper text-center m-b-md">
            <strong class="h3">Sign In</strong>
        </div>
        <form name="form" class="form-validation">
            <alert type="{{alert.type}}" close="closeAlert();" ng-show="alert">{{alert.message}}</alert>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" ng-model="credentials.username" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border" ng-model="credentials.password" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Log in</button>
            <div class="text-center m-t m-b"><a ui-sref="access.forgot_password">Forgot password?</a></div>
            <div class="line line-dashed"></div>
        </form>
    </div>
    <div class="text-center" ng-include="'components/blocks/page_footer.html'"></div>
</div>