html {
  background-color: #f0f3f4;
}
body {
  font-family: "proxima_nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #57584E;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
}
.app {
  min-width: 960px;
}
*:focus {
  outline: 0 !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
a {
  color: #2f2f2a;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #070706;
  text-decoration: none;
}
label {
  font-weight: normal;
  text-transform: none;
}
.control-label {
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
.select-label {
  margin: 0;
  cursor: pointer;
  font-size: 14px;
}
small,
.small {
  font-size: 15px;
}
.badge,
.label {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.badge.bg-light,
.label.bg-light {
  text-shadow: none;
}
.badge {
  background-color: #cfdadd;
}
.badge.up {
  position: relative;
  top: -10px;
  padding: 3px 6px;
  margin-left: -10px;
}
.badge-sm {
  font-size: 85%;
  padding: 2px 5px !important;
}
.label-sm {
  padding-top: 0;
  padding-bottom: 1px;
}
.badge-white {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.35);
  padding: 2px 6px;
}
.badge-empty {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: inherit;
}
blockquote {
  border-color: #dee5e7;
}
.caret-white {
  border-top-color: #fff;
  border-top-color: rgba(255, 255, 255, 0.65);
}
a:hover .caret-white {
  border-top-color: #fff;
}
.thumbnail {
  border-color: #dee5e7;
}
.progress {
  background-color: #edf1f2;
}
.progress-xxs {
  height: 2px;
}
.progress-xs {
  height: 6px;
}
.progress-sm {
  height: 12px;
}
.progress-sm .progress-bar {
  font-size: 10px;
  line-height: 1em;
}
.progress,
.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #3676C8;
}
.progress-bar-info {
  background-color: #597a96;
}
.progress-bar-success {
  background-color: #11A04E;
}
.progress-bar-warning {
  background-color: #fad733;
}
.progress-bar-danger {
  background-color: #f05050;
}
.progress-bar-black {
  background-color: #27517d;
}
.progress-bar-white {
  background-color: #fff;
}
.accordion-group,
.accordion-inner {
  border-color: #dee5e7;
  border-radius: 2px;
}
.alert {
  font-size: 15px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.alert .close i {
  font-size: 12px;
  font-weight: normal;
  display: block;
}
.form-control {
  border-color: #dee5e7;
  border-radius: 2px;
}
.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  border-color: #597a96;
}
.form-horizontal .control-label.text-left {
  text-align: left;
}
.form-control-spin {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
.input-lg {
  height: 50px;
  font-size: 18px;
}
.input-group-addon {
  border-color: #dee5e7;
  background-color: #edf1f2;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px 0 0;
}
.form-control::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}
.list-group {
  border-radius: 2px;
}
.list-group.no-radius .list-group-item {
  border-radius: 0 !important;
}
.list-group.no-borders .list-group-item {
  border: none;
}
.list-group.no-border .list-group-item {
  border-width: 1px 0;
}
.list-group.no-bg .list-group-item {
  background-color: transparent;
}
.list-group-item {
  border-color: #e7ecee;
  padding-right: 15px;
}
a.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item.hover {
  background-color: #fcfcfc;
}
.list-group-item.media {
  margin-top: 0;
}
.list-group-item.active {
  color: #fff;
  border-color: #597a96 !important;
  background-color: #597a96 !important;
}
.list-group-item.active .text-muted {
  color: #b5c5d3 !important;
}
.list-group-item.active a {
  color: #fff;
}
.list-group-item.focus {
  background-color: #e4eaec !important;
}
.list-group-item.select {
  position: relative;
  z-index: 1;
  background-color: #dbeef9 !important;
  border-color: #c5e4f5;
}
.list-group-alt .list-group-item:nth-child(2n+2) {
  background-color: rgba(0, 0, 0, 0.02) !important;
}
.list-group-lg .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.list-group-sm .list-group-item {
  padding: 6px 10px;
}
.list-group-sp .list-group-item {
  margin-bottom: 5px;
  border-radius: 3px;
}
.list-group-item > .badge {
  margin-right: 0;
}
.list-group-item > .fa-chevron-right {
  float: right;
  margin-top: 4px;
  margin-right: -5px;
}
.list-group-item > .fa-chevron-right + .badge {
  margin-right: 5px;
}
.nav-pills.no-radius > li > a {
  border-radius: 0;
}
.nav-pills > li.active > a {
  color: #fff !important;
  background-color: #597a96;
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:active {
  background-color: #506d86;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #f6f8f8;
}
.nav.nav-lg > li > a {
  padding: 20px 20px;
}
.nav.nav-md > li > a {
  padding: 15px 15px;
}
.nav.nav-sm > li > a {
  padding: 6px 12px;
}
.nav.nav-xs > li > a {
  padding: 4px 10px;
}
.nav.nav-xxs > li > a {
  padding: 1px 10px;
}
.nav.nav-rounded > li > a {
  border-radius: 20px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #f6f8f8;
}
.nav-tabs {
  border-color: #dee5e7;
}
.nav-tabs > li > a {
  border-radius: 2px 2px 0 0;
  border-bottom-color: #dee5e7;
}
.nav-tabs > li:hover > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  border-color: #dee5e7;
}
.nav-tabs > li.active > a {
  border-bottom-color: #fff !important;
}
.nav-tabs-alt .nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-tabs-alt .nav-tabs > li > a {
  border-radius: 0;
  border-color: transparent !important;
  background: transparent !important;
  border-bottom-color: #dee5e7 !important;
}
.nav-tabs-alt .nav-tabs > li.active > a {
  border-bottom-color: #597a96 !important;
}
.tab-container {
  margin-bottom: 15px;
}
.tab-container .tab-content {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dee5e7;
  border-top-width: 0;
  border-radius: 0 0 2px 2px;
}
.pagination > li > a {
  border-color: #dee5e7;
}
.pagination > li > a:hover,
.pagination > li > a:focus {
  border-color: #dee5e7;
  background-color: #edf1f2;
}
.panel {
  border-radius: 2px;
}
.panel .accordion-toggle {
  font-size: 14px;
  display: block;
  cursor: pointer;
}
.panel .list-group-item {
  border-color: #edf1f2;
}
.panel.no-borders {
  border-width: 0;
}
.panel.no-borders .panel-heading,
.panel.no-borders .panel-footer {
  border-width: 0;
}
.panel-heading {
  border-radius: 2px 2px 0 0;
}
.panel-default .panel-heading {
  background-color: #fff;
}
.panel-heading.no-border {
  margin: -1px -1px 0 -1px;
  border: none;
}
.panel-heading .nav {
  margin: -10px -15px;
}
.panel-heading .list-group {
  background: transparent;
}
.panel-footer {
  background: none;
  border-top: solid 1px #E6E6E6;
}
.panel-default {
  border-color: #dee5e7;
}
.panel-default > .panel-heading {
  border-color: #fff;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #eaedef;
}
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 15px;
  border-top: 1px solid #eaeff0;
}
.table > thead > tr > th {
  padding: 15px;
  border-bottom: 1px solid #eaeff0;
  font-weight: normal;
  color: #57584E;
}
.table-bordered {
  border-color: #eaeff0;
}
.table-bordered > tbody > tr > td {
  border-color: #eaeff0;
}
.table-bordered > thead > tr > th {
  border-color: #eaeff0;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fafbfc;
}
.table-striped > thead > th {
  background-color: #fafbfc;
  border-right: 1px solid #eaeff0;
}
.table-striped > thead > th:last-child {
  border-right: none;
}
.well,
pre {
  background-color: #edf1f2;
  border-color: #dee5e7;
  box-shadow: none;
}
.dropdown-menu {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #dee5e7;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu.pull-left {
  left: 100%;
}
.dropdown-menu > .panel {
  border: none;
  margin: -5px 0;
}
.dropdown-menu > li > a {
  padding: 5px 15px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: none;
  filter: none;
  background-color: #edf1f2;
  color: #070706;
}
.dropdown-header {
  padding: 5px 15px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #edf1f2 !important;
  color: #57584E;
}
.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu:focus > .dropdown-menu {
  display: block;
}
.dropdown-submenu.pull-left {
  float: none !important;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
.dropdown-submenu .dropdown-menu {
  left: 100%;
  top: 0;
  margin-top: -6px;
  margin-left: -1px;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
}
.btn-group > .btn {
  margin-left: -1px;
}
.help-block {
  font-size: 14px;
  line-height: 1.2em;
}
/*cols*/
.center-block {
  float: none;
}
.col-lg-2-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-0 {
  clear: left;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter [class*="col"] {
  padding: 0;
}
.row-sm {
  margin-left: -10px;
  margin-right: -10px;
}
.row-sm > div {
  padding-left: 10px;
  padding-right: 10px;
}
/* Modal reset */
.modal-header {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  text-align: center;
  background: whitesmoke;
  border-radius: 3px 3px 0 0;
}
.modal-body {
  padding: 20px 25px;
  float: left;
  width: 100%;
}
.modal-footer {
  text-align: left;
  clear: both;
}
.modal-backdrop {
  background-color: #194167;
}
.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal-over {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}
.modal-center {
  position: absolute;
  left: 50%;
  top: 50%;
}
/* Datepicker reset */
._720kb-datepicker-calendar {
  width: 270px;
}
._720kb-datepicker-calendar-day {
  line-height: 20px;
}
._720kb-datepicker-calendar-days-header div {
  width: 14.2%;
  padding: 0 .5%;
}
._720kb-datepicker-calendar-header:nth-child(odd) {
  background: #24365B;
}
._720kb-datepicker-calendar-month span {
  color: white;
}
._720kb-datepicker-calendar-header a,
._720kb-datepicker-calendar-header a:hover {
  color: white;
}
.arrow {
  border-width: 9px;
  z-index: 10;
}
.arrow,
.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.arrow:after {
  border-width: 8px;
  content: "";
}
.arrow.top {
  left: 50%;
  margin-left: -9px;
  border-top-width: 0;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  top: -9px;
}
.arrow.top:after {
  top: 1px;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #fff;
}
.arrow.top.arrow-primary:after {
  border-bottom-color: #3676C8;
}
.arrow.top.arrow-info:after {
  border-bottom-color: #597a96;
}
.arrow.top.arrow-success:after {
  border-bottom-color: #11A04E;
}
.arrow.top.arrow-danger:after {
  border-bottom-color: #f05050;
}
.arrow.top.arrow-warning:after {
  border-bottom-color: #fad733;
}
.arrow.top.arrow-light:after {
  border-bottom-color: #edf1f2;
}
.arrow.top.arrow-dark:after {
  border-bottom-color: #194167;
}
.arrow.top.arrow-black:after {
  border-bottom-color: #27517d;
}
.arrow.right {
  top: 50%;
  right: -9px;
  margin-top: -9px;
  border-right-width: 0;
  border-left-color: rgba(0, 0, 0, 0.1);
}
.arrow.right:after {
  right: 1px;
  bottom: -8px;
  border-right-width: 0;
  border-left-color: #fff;
}
.arrow.right.arrow-primary:after {
  border-left-color: #3676C8;
}
.arrow.right.arrow-info:after {
  border-left-color: #597a96;
}
.arrow.right.arrow-success:after {
  border-left-color: #11A04E;
}
.arrow.right.arrow-danger:after {
  border-left-color: #f05050;
}
.arrow.right.arrow-warning:after {
  border-left-color: #fad733;
}
.arrow.right.arrow-light:after {
  border-left-color: #edf1f2;
}
.arrow.right.arrow-dark:after {
  border-left-color: #194167;
}
.arrow.right.arrow-black:after {
  border-left-color: #27517d;
}
.arrow.bottom {
  left: 50%;
  bottom: -9px;
  margin-left: -9px;
  border-bottom-width: 0;
  border-top-color: rgba(0, 0, 0, 0.1);
}
.arrow.bottom:after {
  bottom: 1px;
  margin-left: -8px;
  border-bottom-width: 0;
  border-top-color: #fff;
}
.arrow.bottom.arrow-primary:after {
  border-top-color: #3676C8;
}
.arrow.bottom.arrow-info:after {
  border-top-color: #597a96;
}
.arrow.bottom.arrow-success:after {
  border-top-color: #11A04E;
}
.arrow.bottom.arrow-danger:after {
  border-top-color: #f05050;
}
.arrow.bottom.arrow-warning:after {
  border-top-color: #fad733;
}
.arrow.bottom.arrow-light:after {
  border-top-color: #edf1f2;
}
.arrow.bottom.arrow-dark:after {
  border-top-color: #194167;
}
.arrow.bottom.arrow-black:after {
  border-top-color: #27517d;
}
.arrow.left {
  top: 50%;
  left: -9px;
  margin-top: -9px;
  border-left-width: 0;
  border-right-color: rgba(0, 0, 0, 0.1);
}
.arrow.left:after {
  left: 1px;
  bottom: -8px;
  border-left-width: 0;
  border-right-color: #fff;
}
.arrow.left.arrow-primary:after {
  border-right-color: #3676C8;
}
.arrow.left.arrow-info:after {
  border-right-color: #597a96;
}
.arrow.left.arrow-success:after {
  border-right-color: #11A04E;
}
.arrow.left.arrow-danger:after {
  border-right-color: #f05050;
}
.arrow.left.arrow-warning:after {
  border-right-color: #fad733;
}
.arrow.left.arrow-light:after {
  border-right-color: #edf1f2;
}
.arrow.left.arrow-dark:after {
  border-right-color: #194167;
}
.arrow.left.arrow-black:after {
  border-right-color: #27517d;
}
.arrow.pull-left {
  left: 19px;
}
.arrow.pull-right {
  left: auto;
  right: 19px;
}
.arrow.pull-up {
  top: 19px;
}
.arrow.pull-down {
  top: auto;
  bottom: 19px;
}
.btn {
  font-weight: bold;
  border-radius: 2px;
  outline: 0!important;
  text-transform: uppercase;
  line-height: 1.42857143;
}
.btn-link {
  color: #57584E;
}
.btn-link.active {
  webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  background: rgba(0, 0, 0, 0.05);
  border: solid 1px #CACACA;
  color: #57584E;
}
.btn-default:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #57584E;
}
.btn-default.btn-bg {
  border-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
.btn-clear {
  background: transparent;
  border: solid 1px #f05050;
  color: #f05050;
}
.btn-clear:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #f05050;
}
.btn-primary {
  color: #fff !important;
  background-color: #3676C8;
  border-color: #3676C8;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #316ab4;
  border-color: #2d63a8;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #3676C8;
  border-color: #3676C8;
}
.btn-success {
  color: #fff !important;
  background-color: #11A04E;
  border-color: #11A04E;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff !important;
  background-color: #0f8943;
  border-color: #0d7b3c;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #11A04E;
  border-color: #11A04E;
}
.btn-info {
  color: #fff !important;
  background-color: #597a96;
  border-color: #597a96;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff !important;
  background-color: #506d86;
  border-color: #4a657c;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #597a96;
  border-color: #597a96;
}
.btn-warning {
  color: #fff !important;
  background-color: #fad733;
  border-color: #fad733;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff !important;
  background-color: #f9d21a;
  border-color: #f9cf0b;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #fad733;
  border-color: #fad733;
}
.btn-danger {
  color: #fff !important;
  background-color: #f05050;
  border-color: #f05050;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff !important;
  background-color: #ee3939;
  border-color: #ed2a2a;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #f05050;
  border-color: #f05050;
}
.btn-dark {
  color: #fff !important;
  background-color: #194167;
  border-color: #194167;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #fff !important;
  background-color: #143452;
  border-color: #112c46;
}
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #194167;
  border-color: #194167;
}
.btn-black {
  color: #fff !important;
  background-color: #27517d;
  border-color: #27517d;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  color: #fff !important;
  background-color: #21446a;
  border-color: #1d3d5e;
}
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  background-image: none;
}
.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #27517d;
  border-color: #27517d;
}
.btn-icon {
  padding: 0 !important;
  text-align: center;
  width: 34px;
  height: 34px;
}
.btn-icon i {
  top: -1px;
  position: relative;
  line-height: 34px;
}
.btn-icon.btn-sm {
  width: 30px;
  height: 30px;
}
.btn-icon.btn-sm i {
  line-height: 30px;
}
.btn-icon.btn-lg {
  width: 45px;
  height: 45px;
}
.btn-icon.btn-lg i {
  line-height: 45px;
}
.btn-rounded {
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.btn-rounded.btn-lg {
  padding-left: 25px;
  padding-right: 25px;
}
.btn > i.pull-left,
.btn > i.pull-right {
  line-height: 1.42857143;
}
.btn-block {
  padding-left: 12px;
  padding-right: 12px;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 2px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 2px;
}
.btn-addon i {
  margin: -7px -12px;
  margin-right: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
  position: relative;
  border-radius: 2px 0 0 2px;
}
.btn-addon i.pull-right {
  margin-right: -12px;
  margin-left: 12px;
  border-radius: 0 2px 2px 0;
}
.btn-addon.btn-sm i {
  margin: -6px -10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.btn-addon.btn-sm i.pull-right {
  margin-right: -10px;
  margin-left: 10px;
}
.btn-addon.btn-lg i {
  margin: -11px -16px;
  margin-right: 16px;
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.btn-addon.btn-lg i.pull-right {
  margin-right: -16px;
  margin-left: 16px;
}
.btn-addon.btn-default i {
  background-color: transparent;
  border-right: 1px solid #dee5e7;
}
.btn-groups .btn {
  margin-bottom: 5px;
}
.loading-button {
  position: relative;
}
.loading-button.ng-loading-failure {
  background: #f05050;
  border-color: #f05050;
}
.loading-button .loading-state,
.loading-button .loading-success,
.loading-button .loading-failure {
  opacity: 0;
}
.loading-button .loading-success,
.loading-button .loading-failure {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.loading-button.ng-loading,
.loading-button.ng-loading-success,
.loading-button.ng-loading-failure {
  pointer-events: none;
  cursor: default;
}
.loading-button.ng-loading .default-state,
.loading-button.ng-loading-success .default-state,
.loading-button.ng-loading-failure .default-state {
  opacity: 0;
}
.loading-button.ng-loading .loading-state {
  opacity: 1;
}
.loading-button.ng-loading-success,
.loading-button.ng-loading-failure {
  min-width: 167px;
}
.loading-button.ng-loading-success i,
.loading-button.ng-loading-failure i {
  font-size: 20px;
}
.loading-button.ng-loading-success .loading-success {
  opacity: 1;
}
.loading-button.ng-loading-failure .loading-failure {
  opacity: 1;
}
.list-icon i {
  font-size: 14px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
.list-icon div {
  line-height: 40px;
  white-space: nowrap;
}
.list-icon div:hover i {
  font-size: 26px;
}
.settings {
  z-index: 1050;
  position: fixed;
  top: 120px;
  right: -240px;
  width: 240px;
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
}
.settings.active {
  right: -1px;
}
.settings > .btn {
  background: #fff !important;
  border-right-width: 0;
  border-color: #dee5e7;
  position: absolute;
  left: -42px;
  top: -1px;
  padding: 10px 15px;
}
.settings .i-checks span b {
  width: 50%;
  height: 20px;
  display: inline-block;
  float: left;
}
.settings .i-checks span b.header {
  height: 10px;
}
.streamline {
  position: relative;
  border-color: #dee5e7;
}
.streamline .sl-item:after,
.streamline:after {
  content: '';
  position: absolute;
  background-color: #fff;
  border-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  width: 9px;
  height: 9px;
  margin-left: -5px;
  bottom: 0;
  left: 0;
}
.sl-item {
  border-color: #dee5e7;
  position: relative;
  padding-bottom: 1px;
}
.sl-item:before,
.sl-item:after {
  content: " ";
  display: table;
}
.sl-item:after {
  clear: both;
}
.sl-item:after {
  top: 6px;
  bottom: auto;
}
.sl-item.b-l {
  margin-left: -1px;
}
.timeline {
  margin: 0;
  padding: 0;
}
.tl-item {
  display: block;
}
.tl-item:before,
.tl-item:after {
  content: " ";
  display: table;
}
.tl-item:after {
  clear: both;
}
.visible-left {
  display: none;
}
.tl-wrap {
  display: block;
  margin-left: 6em;
  padding: 15px 0 15px 20px;
  border-style: solid;
  border-color: #dee5e7;
  border-width: 0 0 0 4px;
}
.tl-wrap:before,
.tl-wrap:after {
  content: " ";
  display: table;
}
.tl-wrap:after {
  clear: both;
}
.tl-wrap:before {
  position: relative;
  content: "";
  float: left;
  top: 15px;
  margin-left: -27px;
  width: 10px;
  height: 10px;
  border-color: inherit;
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  background: #edf1f2;
  box-shadow: 0 0 0 4px #f0f3f4;
}
.tl-wrap:hover:before {
  background: transparent;
  border-color: #fff;
}
.tl-date {
  position: relative;
  top: 10px;
  float: left;
  margin-left: -7.5em;
  display: block;
  width: 4.5em;
  text-align: right;
}
.tl-content {
  display: inline-block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tl-content.block {
  display: block;
  width: 100%;
}
.tl-content.panel {
  margin-bottom: 0;
}
.tl-header {
  display: block;
  width: 12em;
  text-align: center;
  margin-left: 2px;
}
.timeline-center .tl-item {
  margin-left: 50%;
}
.timeline-center .tl-item .tl-wrap {
  margin-left: -2px;
}
.timeline-center .tl-header {
  width: auto;
  margin: 0;
}
.timeline-center .tl-left {
  margin-left: 0;
  margin-right: 50%;
}
.timeline-center .tl-left .hidden-left {
  display: none !important;
}
.timeline-center .tl-left .visible-left {
  display: inherit;
}
.timeline-center .tl-left .tl-wrap {
  float: right;
  margin-right: -2px;
  border-left-width: 0;
  border-right-width: 4px;
  padding-left: 0;
  padding-right: 20px;
}
.timeline-center .tl-left .tl-wrap:before {
  float: right;
  margin-left: 0;
  margin-right: -27px;
}
.timeline-center .tl-left .tl-date {
  float: right;
  margin-left: 0;
  margin-right: -8.5em;
  text-align: left;
}
.i-switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  border-radius: 30px;
  background-color: #11A04E;
  margin: 0;
}
.i-switch input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.i-switch input:checked + i:before {
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 5px;
  border-width: 0;
  border-radius: 5px;
}
.i-switch input:checked + i:after {
  margin-left: 16px;
}
.i-switch i:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.i-switch i:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 18px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}
.i-switch .label-text {
  position: absolute;
  display: inline-block;
  min-width: 200px;
  margin-left: 5px;
  left: 100%;
  top: 0;
}
.i-switch-md {
  width: 40px;
  height: 24px;
}
.i-switch-md input:checked + i:after {
  margin-left: 17px;
}
.i-switch-md i:after {
  width: 22px;
}
.i-switch-lg {
  width: 50px;
  height: 30px;
}
.i-switch-lg input:checked + i:after {
  margin-left: 21px;
}
.i-switch-lg i:after {
  width: 28px;
}
.i-checks {
  padding-left: 20px;
  cursor: pointer;
}
.i-checks input {
  opacity: 0;
  position: absolute;
  margin-left: -20px;
}
.i-checks input:checked + i {
  border-color: #597a96;
}
.i-checks input:checked + i:before {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-color: #597a96;
}
.i-checks input:checked + span .active {
  display: inherit;
}
.i-checks input[type="radio"] + i,
.i-checks input[type="radio"] + i:before {
  border-radius: 50%;
}
.i-checks input[disabled] + i,
fieldset[disabled] .i-checks input + i {
  border-color: #edf1f2;
}
.i-checks input[disabled] + i:before,
fieldset[disabled] .i-checks input + i:before {
  background-color: #edf1f2;
}
.i-checks > i {
  width: 20px;
  height: 20px;
  line-height: 1;
  border: 1px solid #dee5e7;
  background-color: #fff;
  margin-left: -20px;
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  position: relative;
}
.i-checks > i:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.i-checks > span {
  margin-left: -20px;
}
.i-checks > span .active {
  display: none;
}
.i-checks-sm input:checked + i:before {
  left: 3px;
  top: 3px;
  width: 8px;
  height: 8px;
}
.i-checks-sm > i {
  width: 16px;
  height: 16px;
  margin-left: -18px;
  margin-right: 6px;
}
.i-checks-lg input:checked + i:before {
  left: 8px;
  top: 8px;
  width: 12px;
  height: 12px;
}
.i-checks-lg > i {
  width: 30px;
  height: 30px;
}
.datepicker {
  margin: 0 5px;
}
.datepicker .btn-default {
  border-width: 0;
  box-shadow: none;
}
.datepicker .btn[disabled] {
  opacity: 0.4;
}
.datepicker .btn-info .text-info {
  color: #fff !important;
}
/*Charts*/
.jqstooltip {
  background-color: rgba(0, 0, 0, 0.8) !important;
  border: solid 1px #000 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px !important;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.easyPieChart {
  position: relative;
  text-align: center;
}
.easyPieChart > div {
  position: relative;
  z-index: 1;
}
.easyPieChart > div .text {
  position: absolute;
  width: 100%;
  top: 60%;
  line-height: 1;
}
.easyPieChart > div img {
  margin-top: -4px;
}
.easyPieChart canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#flotTip {
  padding: 4px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 1px #000 !important;
  z-index: 100;
  font-size: 12px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.legendColorBox > div {
  border: none !important;
  margin: 5px;
}
.legendColorBox > div > div {
  border-radius: 10px;
}
.sortable-placeholder {
  list-style: none;
  border: 1px dashed #CCC;
  min-height: 50px;
  margin-bottom: 5px;
}
.item {
  position: relative;
}
.item .top {
  position: absolute;
  top: 0;
  left: 0;
}
.item .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.item .center {
  position: absolute;
  top: 50%;
}
.item-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.item-overlay.active,
.item:hover .item-overlay {
  display: block;
}
.form-validation .form-control.ng-dirty.ng-invalid {
  border-color: #f05050;
}
.form-validation .form-control.ng-dirty.ng-valid,
.form-validation .form-control.ng-dirty.ng-valid:focus {
  border-color: #11A04E;
}
.form-validation .i-checks .ng-invalid.ng-dirty + i {
  border-color: #f05050;
}
.ng-animate .bg-auto:before {
  display: none;
}
[ui-view].ng-leave {
  display: none;
}
[ui-view].ng-leave.smooth {
  display: block;
}
.smooth.ng-animate {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fade-in-right-big.ng-enter {
  -webkit-animation: fadeInRightBig 0.5s;
  animation: fadeInRightBig 0.5s;
}
.fade-in-right-big.ng-leave {
  -webkit-animation: fadeOutLeftBig 0.5s;
  animation: fadeOutLeftBig 0.5s;
}
.fade-in-left-big.ng-enter {
  -webkit-animation: fadeInLeftBig 0.5s;
  animation: fadeInLeftBig 0.5s;
}
.fade-in-left-big.ng-leave {
  -webkit-animation: fadeOutRightBig 0.5s;
  animation: fadeOutRightBig 0.5s;
}
.fade-in-up-big.ng-enter {
  -webkit-animation: fadeInUpBig 0.5s;
  animation: fadeInUpBig 0.5s;
}
.fade-in-up-big.ng-leave {
  -webkit-animation: fadeOutUpBig 0.5s;
  animation: fadeOutUpBig 0.5s;
}
.fade-in-down-big.ng-enter {
  -webkit-animation: fadeInDownBig 0.5s;
  animation: fadeInDownBig 0.5s;
}
.fade-in-down-big.ng-leave {
  -webkit-animation: fadeOutDownBig 0.5s;
  animation: fadeOutDownBig 0.5s;
}
.fade-in.ng-enter {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
.fade-in.ng-leave {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}
.fade-in-right.ng-enter {
  -webkit-animation: fadeInRight 0.5s;
  animation: fadeInRight 0.5s;
}
.fade-in-right.ng-leave {
  -webkit-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s;
}
.fade-in-left.ng-enter {
  -webkit-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s;
}
.fade-in-left.ng-leave {
  -webkit-animation: fadeOutRight 0.5s;
  animation: fadeOutRight 0.5s;
}
.fade-in-up.ng-enter {
  -webkit-animation: fadeInUp 0.5s;
  animation: fadeInUp 0.5s;
}
.fade-in-up.ng-leave {
  -webkit-animation: fadeOutUp 0.5s;
  animation: fadeOutUp 0.5s;
}
.fade-in-down.ng-enter {
  -webkit-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s;
}
.fade-in-down.ng-leave {
  -webkit-animation: fadeOutDown 0.5s;
  animation: fadeOutDown 0.5s;
}
.bg-gd {
  background-image: -webkit-gradient(linear, left 0, left 100%, from(rgba(40, 50, 60, 0)), to(rgba(40, 50, 60, 0.075)));
  background-image: -webkit-linear-gradient(top, rgba(40, 50, 60, 0), 0, rgba(40, 50, 60, 0.075), 100%);
  background-image: -moz-linear-gradient(top, rgba(40, 50, 60, 0) 0, rgba(40, 50, 60, 0.075) 100%);
  background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0, rgba(40, 50, 60, 0.075) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#1328323c', GradientType=0);
  filter: none;
}
.bg-gd-dk {
  background-image: -webkit-gradient(linear, left 10%, left 100%, from(rgba(40, 50, 60, 0)), to(rgba(40, 50, 60, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(40, 50, 60, 0), 10%, rgba(40, 50, 60, 0.5), 100%);
  background-image: -moz-linear-gradient(top, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#8028323c', GradientType=0);
  filter: none;
}
.bg-light {
  background-color: #edf1f2;
  color: #57584E;
}
.bg-light.lt,
.bg-light .lt {
  background-color: #f3f5f6;
}
.bg-light.lter,
.bg-light .lter {
  background-color: #f6f8f8;
}
.bg-light.dk,
.bg-light .dk {
  background-color: #e4eaec;
}
.bg-light.dker,
.bg-light .dker {
  background-color: #dde6e9;
}
.bg-light.bg,
.bg-light .bg {
  background-color: #edf1f2;
}
.bg-dark {
  background-color: #194167;
  color: #79a7d3;
}
.bg-dark.lt,
.bg-dark .lt {
  background-color: #204e7a;
}
.bg-dark.lter,
.bg-dark .lter {
  background-color: #275b8c;
}
.bg-dark.dk,
.bg-dark .dk {
  background-color: #133454;
}
.bg-dark.dker,
.bg-dark .dker {
  background-color: #0d2740;
}
.bg-dark.bg,
.bg-dark .bg {
  background-color: #194167;
}
.bg-dark a {
  color: #9fc0e0;
}
.bg-dark a:hover {
  color: #fff;
}
.bg-dark a.list-group-item:hover,
.bg-dark a.list-group-item:focus {
  background-color: inherit;
}
.bg-dark .nav > li:hover > a,
.bg-dark .nav > li:focus > a,
.bg-dark .nav > li.active > a {
  color: #fff;
  background-color: #133454;
}
.bg-dark .nav > li > a {
  color: #8cb4da;
}
.bg-dark .nav > li > a:hover,
.bg-dark .nav > li > a:focus {
  background-color: #15395c;
}
.bg-dark .nav .open > a {
  background-color: #133454;
}
.bg-dark .caret {
  border-top-color: #79a7d3;
  border-bottom-color: #79a7d3;
}
.bg-dark.navbar .nav > li.active > a {
  color: #fff;
  background-color: #133454;
}
.bg-dark .open > a,
.bg-dark .open > a:hover,
.bg-dark .open > a:focus {
  color: #fff;
}
.bg-dark .text-muted {
  color: #528ec7 !important;
}
.bg-dark .text-lt {
  color: #d9e6f3 !important;
}
.bg-dark.auto .list-group-item,
.bg-dark .auto .list-group-item {
  border-color: #143452 !important;
  background-color: transparent;
}
.bg-dark.auto .list-group-item:hover,
.bg-dark .auto .list-group-item:hover,
.bg-dark.auto .list-group-item:focus,
.bg-dark .auto .list-group-item:focus,
.bg-dark.auto .list-group-item:active,
.bg-dark .auto .list-group-item:active,
.bg-dark.auto .list-group-item.active,
.bg-dark .auto .list-group-item.active {
  background-color: #133454 !important;
}
.bg-black {
  background-color: #27517d;
  color: #9ab7d6;
}
.bg-black.lt,
.bg-black .lt {
  background-color: #2f5e8e;
}
.bg-black.lter,
.bg-black .lter {
  background-color: #396a9e;
}
.bg-black.dk,
.bg-black .dk {
  background-color: #1f446b;
}
.bg-black.dker,
.bg-black .dker {
  background-color: #183859;
}
.bg-black.bg,
.bg-black .bg {
  background-color: #27517d;
}
.bg-black a {
  color: #bed1e5;
}
.bg-black a:hover {
  color: #fff;
}
.bg-black a.list-group-item:hover,
.bg-black a.list-group-item:focus {
  background-color: inherit;
}
.bg-black .nav > li:hover > a,
.bg-black .nav > li:focus > a,
.bg-black .nav > li.active > a {
  color: #fff;
  background-color: #1f446b;
}
.bg-black .nav > li > a {
  color: #acc4dd;
}
.bg-black .nav > li > a:hover,
.bg-black .nav > li > a:focus {
  background-color: #224973;
}
.bg-black .nav .open > a {
  background-color: #1f446b;
}
.bg-black .caret {
  border-top-color: #9ab7d6;
  border-bottom-color: #9ab7d6;
}
.bg-black.navbar .nav > li.active > a {
  color: #fff;
  background-color: #1f446b;
}
.bg-black .open > a,
.bg-black .open > a:hover,
.bg-black .open > a:focus {
  color: #fff;
}
.bg-black .text-muted {
  color: #769ec7 !important;
}
.bg-black .text-lt {
  color: #f5f8fb !important;
}
.bg-black.auto .list-group-item,
.bg-black .auto .list-group-item {
  border-color: #21446a !important;
  background-color: transparent;
}
.bg-black.auto .list-group-item:hover,
.bg-black .auto .list-group-item:hover,
.bg-black.auto .list-group-item:focus,
.bg-black .auto .list-group-item:focus,
.bg-black.auto .list-group-item:active,
.bg-black .auto .list-group-item:active,
.bg-black.auto .list-group-item.active,
.bg-black .auto .list-group-item.active {
  background-color: #1f446b !important;
}
.bg-blacker {
  background-color: #284A76;
  color: #98b1d2;
}
.bg-blacker.lt,
.bg-blacker .lt {
  background-color: #315687;
}
.bg-blacker.lter,
.bg-blacker .lter {
  background-color: #3a6397;
}
.bg-blacker.dk,
.bg-blacker .dk {
  background-color: #203e65;
}
.bg-blacker.dker,
.bg-blacker .dker {
  background-color: #183253;
}
.bg-blacker.bg,
.bg-blacker .bg {
  background-color: #284A76;
}
.bg-blacker a {
  color: #bbcce2;
}
.bg-blacker a:hover {
  color: #fff;
}
.bg-blacker a.list-group-item:hover,
.bg-blacker a.list-group-item:focus {
  background-color: inherit;
}
.bg-blacker .nav > li:hover > a,
.bg-blacker .nav > li:focus > a,
.bg-blacker .nav > li.active > a {
  color: #fff;
  background-color: #203e65;
}
.bg-blacker .nav > li > a {
  color: #aabfda;
}
.bg-blacker .nav > li > a:hover,
.bg-blacker .nav > li > a:focus {
  background-color: #22436c;
}
.bg-blacker .nav .open > a {
  background-color: #203e65;
}
.bg-blacker .caret {
  border-top-color: #98b1d2;
  border-bottom-color: #98b1d2;
}
.bg-blacker.navbar .nav > li.active > a {
  color: #fff;
  background-color: #203e65;
}
.bg-blacker .open > a,
.bg-blacker .open > a:hover,
.bg-blacker .open > a:focus {
  color: #fff;
}
.bg-blacker .text-muted {
  color: #7496c3 !important;
}
.bg-blacker .text-lt {
  color: #f1f4f9 !important;
}
.bg-blacker.auto .list-group-item,
.bg-blacker .auto .list-group-item {
  border-color: #223e63 !important;
  background-color: transparent;
}
.bg-blacker.auto .list-group-item:hover,
.bg-blacker .auto .list-group-item:hover,
.bg-blacker.auto .list-group-item:focus,
.bg-blacker .auto .list-group-item:focus,
.bg-blacker.auto .list-group-item:active,
.bg-blacker .auto .list-group-item:active,
.bg-blacker.auto .list-group-item.active,
.bg-blacker .auto .list-group-item.active {
  background-color: #203e65 !important;
}
.bg-primary {
  background-color: #3676C8;
  color: #d9e3f1;
}
.bg-primary.lt,
.bg-primary .lt {
  background-color: #4c84cb;
}
.bg-primary.lter,
.bg-primary .lter {
  background-color: #6392ce;
}
.bg-primary.dk,
.bg-primary .dk {
  background-color: #2e6ab7;
}
.bg-primary.dker,
.bg-primary .dker {
  background-color: #265ea5;
}
.bg-primary.bg,
.bg-primary .bg {
  background-color: #3676C8;
}
.bg-primary a {
  color: #fefeff;
}
.bg-primary a:hover {
  color: #fff;
}
.bg-primary a.list-group-item:hover,
.bg-primary a.list-group-item:focus {
  background-color: inherit;
}
.bg-primary .nav > li:hover > a,
.bg-primary .nav > li:focus > a,
.bg-primary .nav > li.active > a {
  color: #fff;
  background-color: #2e6ab7;
}
.bg-primary .nav > li > a {
  color: #ebf1f8;
}
.bg-primary .nav > li > a:hover,
.bg-primary .nav > li > a:focus {
  background-color: #306fbf;
}
.bg-primary .nav .open > a {
  background-color: #2e6ab7;
}
.bg-primary .caret {
  border-top-color: #d9e3f1;
  border-bottom-color: #d9e3f1;
}
.bg-primary.navbar .nav > li.active > a {
  color: #fff;
  background-color: #2e6ab7;
}
.bg-primary .open > a,
.bg-primary .open > a:hover,
.bg-primary .open > a:focus {
  color: #fff;
}
.bg-primary .text-muted {
  color: #b3c8e4 !important;
}
.bg-primary .text-lt {
  color: #ffffff !important;
}
.bg-primary.auto .list-group-item,
.bg-primary .auto .list-group-item {
  border-color: #316ab4 !important;
  background-color: transparent;
}
.bg-primary.auto .list-group-item:hover,
.bg-primary .auto .list-group-item:hover,
.bg-primary.auto .list-group-item:focus,
.bg-primary .auto .list-group-item:focus,
.bg-primary.auto .list-group-item:active,
.bg-primary .auto .list-group-item:active,
.bg-primary.auto .list-group-item.active,
.bg-primary .auto .list-group-item.active {
  background-color: #2e6ab7 !important;
}
.bg-success {
  background-color: #11A04E;
  color: #91ecb8;
}
.bg-success.lt,
.bg-success .lt {
  background-color: #16b55a;
}
.bg-success.lter,
.bg-success .lter {
  background-color: #1cc865;
}
.bg-success.dk,
.bg-success .dk {
  background-color: #0d8b42;
}
.bg-success.dker,
.bg-success .dker {
  background-color: #097537;
}
.bg-success.bg,
.bg-success .bg {
  background-color: #11A04E;
}
.bg-success a {
  color: #bcf4d4;
}
.bg-success a:hover {
  color: #fff;
}
.bg-success a.list-group-item:hover,
.bg-success a.list-group-item:focus {
  background-color: inherit;
}
.bg-success .nav > li:hover > a,
.bg-success .nav > li:focus > a,
.bg-success .nav > li.active > a {
  color: #fff;
  background-color: #0d8b42;
}
.bg-success .nav > li > a {
  color: #a7f0c6;
}
.bg-success .nav > li > a:hover,
.bg-success .nav > li > a:focus {
  background-color: #0e9447;
}
.bg-success .nav .open > a {
  background-color: #0d8b42;
}
.bg-success .caret {
  border-top-color: #91ecb8;
  border-bottom-color: #91ecb8;
}
.bg-success.navbar .nav > li.active > a {
  color: #fff;
  background-color: #0d8b42;
}
.bg-success .open > a,
.bg-success .open > a:hover,
.bg-success .open > a:focus {
  color: #fff;
}
.bg-success .text-muted {
  color: #65e59c !important;
}
.bg-success .text-lt {
  color: #fefffe !important;
}
.bg-success.auto .list-group-item,
.bg-success .auto .list-group-item {
  border-color: #0f8943 !important;
  background-color: transparent;
}
.bg-success.auto .list-group-item:hover,
.bg-success .auto .list-group-item:hover,
.bg-success.auto .list-group-item:focus,
.bg-success .auto .list-group-item:focus,
.bg-success.auto .list-group-item:active,
.bg-success .auto .list-group-item:active,
.bg-success.auto .list-group-item.active,
.bg-success .auto .list-group-item.active {
  background-color: #0d8b42 !important;
}
.bg-info {
  background-color: #597a96;
  color: #d8dee3;
}
.bg-info.lt,
.bg-info .lt {
  background-color: #6887a1;
}
.bg-info.lter,
.bg-info .lter {
  background-color: #7a93a8;
}
.bg-info.dk,
.bg-info .dk {
  background-color: #4d6d89;
}
.bg-info.dker,
.bg-info .dker {
  background-color: #41607b;
}
.bg-info.bg,
.bg-info .bg {
  background-color: #597a96;
}
.bg-info a {
  color: #f6f7f8;
}
.bg-info a:hover {
  color: #fff;
}
.bg-info a.list-group-item:hover,
.bg-info a.list-group-item:focus {
  background-color: inherit;
}
.bg-info .nav > li:hover > a,
.bg-info .nav > li:focus > a,
.bg-info .nav > li.active > a {
  color: #fff;
  background-color: #4d6d89;
}
.bg-info .nav > li > a {
  color: #e7ebed;
}
.bg-info .nav > li > a:hover,
.bg-info .nav > li > a:focus {
  background-color: #51728f;
}
.bg-info .nav .open > a {
  background-color: #4d6d89;
}
.bg-info .caret {
  border-top-color: #d8dee3;
  border-bottom-color: #d8dee3;
}
.bg-info.navbar .nav > li.active > a {
  color: #fff;
  background-color: #4d6d89;
}
.bg-info .open > a,
.bg-info .open > a:hover,
.bg-info .open > a:focus {
  color: #fff;
}
.bg-info .text-muted {
  color: #bbc5cd !important;
}
.bg-info .text-lt {
  color: #ffffff !important;
}
.bg-info.auto .list-group-item,
.bg-info .auto .list-group-item {
  border-color: #506d86 !important;
  background-color: transparent;
}
.bg-info.auto .list-group-item:hover,
.bg-info .auto .list-group-item:hover,
.bg-info.auto .list-group-item:focus,
.bg-info .auto .list-group-item:focus,
.bg-info.auto .list-group-item:active,
.bg-info .auto .list-group-item:active,
.bg-info.auto .list-group-item.active,
.bg-info .auto .list-group-item.active {
  background-color: #4d6d89 !important;
}
.bg-warning {
  background-color: #fad733;
  color: #fffefa;
}
.bg-warning.lt,
.bg-warning .lt {
  background-color: #f8da4e;
}
.bg-warning.lter,
.bg-warning .lter {
  background-color: #f7de69;
}
.bg-warning.dk,
.bg-warning .dk {
  background-color: #fcd417;
}
.bg-warning.dker,
.bg-warning .dker {
  background-color: #face00;
}
.bg-warning.bg,
.bg-warning .bg {
  background-color: #fad733;
}
.bg-warning a {
  color: #ffffff;
}
.bg-warning a:hover {
  color: #fff;
}
.bg-warning a.list-group-item:hover,
.bg-warning a.list-group-item:focus {
  background-color: inherit;
}
.bg-warning .nav > li:hover > a,
.bg-warning .nav > li:focus > a,
.bg-warning .nav > li.active > a {
  color: #fff;
  background-color: #fcd417;
}
.bg-warning .nav > li > a {
  color: #f2f2f2;
}
.bg-warning .nav > li > a:hover,
.bg-warning .nav > li > a:focus {
  background-color: #fcd621;
}
.bg-warning .nav .open > a {
  background-color: #fcd417;
}
.bg-warning .caret {
  border-top-color: #fffefa;
  border-bottom-color: #fffefa;
}
.bg-warning.navbar .nav > li.active > a {
  color: #fff;
  background-color: #fcd417;
}
.bg-warning .open > a,
.bg-warning .open > a:hover,
.bg-warning .open > a:focus {
  color: #fff;
}
.bg-warning .text-muted {
  color: #fbf2cb !important;
}
.bg-warning .text-lt {
  color: #ffffff !important;
}
.bg-warning.auto .list-group-item,
.bg-warning .auto .list-group-item {
  border-color: #f9d21a !important;
  background-color: transparent;
}
.bg-warning.auto .list-group-item:hover,
.bg-warning .auto .list-group-item:hover,
.bg-warning.auto .list-group-item:focus,
.bg-warning .auto .list-group-item:focus,
.bg-warning.auto .list-group-item:active,
.bg-warning .auto .list-group-item:active,
.bg-warning.auto .list-group-item.active,
.bg-warning .auto .list-group-item.active {
  background-color: #fcd417 !important;
}
.bg-danger {
  background-color: #f05050;
  color: #ffffff;
}
.bg-danger.lt,
.bg-danger .lt {
  background-color: #f06a6a;
}
.bg-danger.lter,
.bg-danger .lter {
  background-color: #f18282;
}
.bg-danger.dk,
.bg-danger .dk {
  background-color: #f13636;
}
.bg-danger.dker,
.bg-danger .dker {
  background-color: #f21b1b;
}
.bg-danger.bg,
.bg-danger .bg {
  background-color: #f05050;
}
.bg-danger a {
  color: #ffffff;
}
.bg-danger a:hover {
  color: #fff;
}
.bg-danger a.list-group-item:hover,
.bg-danger a.list-group-item:focus {
  background-color: inherit;
}
.bg-danger .nav > li:hover > a,
.bg-danger .nav > li:focus > a,
.bg-danger .nav > li.active > a {
  color: #fff;
  background-color: #f13636;
}
.bg-danger .nav > li > a {
  color: #f2f2f2;
}
.bg-danger .nav > li > a:hover,
.bg-danger .nav > li > a:focus {
  background-color: #f13f3f;
}
.bg-danger .nav .open > a {
  background-color: #f13636;
}
.bg-danger .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.bg-danger.navbar .nav > li.active > a {
  color: #fff;
  background-color: #f13636;
}
.bg-danger .open > a,
.bg-danger .open > a:hover,
.bg-danger .open > a:focus {
  color: #fff;
}
.bg-danger .text-muted {
  color: #e6e6e6 !important;
}
.bg-danger .text-lt {
  color: #ffffff !important;
}
.bg-danger.auto .list-group-item,
.bg-danger .auto .list-group-item {
  border-color: #ee3939 !important;
  background-color: transparent;
}
.bg-danger.auto .list-group-item:hover,
.bg-danger .auto .list-group-item:hover,
.bg-danger.auto .list-group-item:focus,
.bg-danger .auto .list-group-item:focus,
.bg-danger.auto .list-group-item:active,
.bg-danger .auto .list-group-item:active,
.bg-danger.auto .list-group-item.active,
.bg-danger .auto .list-group-item.active {
  background-color: #f13636 !important;
}
.bg-white {
  background-color: #fff;
  color: #57584E;
}
.bg-white .text-muted {
  color: #a4a59a !important;
}
.bg-white .lt,
.bg-white .lter,
.bg-white .dk,
.bg-white .dker {
  background-color: #fff;
}
.bg-white-only {
  background-color: #fff;
}
.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.5);
}
.bg-black-opacity {
  background-color: rgba(32, 43, 54, 0.5);
}
a.bg-light:hover {
  color: #2f2f2a;
}
a.bg-primary:hover {
  background-color: #316ab4;
}
a.text-primary:hover {
  color: #316ab4;
}
.text-primary {
  color: #3676C8;
}
.text-primary-lt {
  color: #4a84ce;
}
.text-primary-lter {
  color: #5e91d3;
}
.text-primary-dk {
  color: #316ab4;
}
.text-primary-dker {
  color: #2b5ea0;
}
a.bg-info:hover {
  background-color: #506d86;
}
a.text-info:hover {
  color: #506d86;
}
.text-info {
  color: #597a96;
}
.text-info-lt {
  color: #6587a4;
}
.text-info-lter {
  color: #7593ad;
}
.text-info-dk {
  color: #506d86;
}
.text-info-dker {
  color: #466076;
}
a.bg-success:hover {
  background-color: #0f8943;
}
a.text-success:hover {
  color: #0f8943;
}
.text-success {
  color: #11A04E;
}
.text-success-lt {
  color: #13b759;
}
.text-success-lter {
  color: #16ce64;
}
.text-success-dk {
  color: #0f8943;
}
.text-success-dker {
  color: #0c7238;
}
a.bg-warning:hover {
  background-color: #f9d21a;
}
a.text-warning:hover {
  color: #f9d21a;
}
.text-warning {
  color: #fad733;
}
.text-warning-lt {
  color: #fbdc4c;
}
.text-warning-lter {
  color: #fbe165;
}
.text-warning-dk {
  color: #f9d21a;
}
.text-warning-dker {
  color: #f4ca06;
}
a.bg-danger:hover {
  background-color: #ee3939;
}
a.text-danger:hover {
  color: #ee3939;
}
.text-danger {
  color: #f05050;
}
.text-danger-lt {
  color: #f26767;
}
.text-danger-lter {
  color: #f47f7f;
}
.text-danger-dk {
  color: #ee3939;
}
.text-danger-dker {
  color: #ec2121;
}
a.bg-dark:hover {
  background-color: #143452;
}
a.text-dark:hover {
  color: #143452;
}
.text-dark {
  color: #194167;
}
.text-dark-lt {
  color: #1e4e7c;
}
.text-dark-lter {
  color: #235b90;
}
.text-dark-dk {
  color: #143452;
}
.text-dark-dker {
  color: #0f273e;
}
a.bg-black:hover {
  background-color: #21446a;
}
a.text-black:hover {
  color: #21446a;
}
.text-black {
  color: #27517d;
}
.text-black-lt {
  color: #2d5e90;
}
.text-black-lter {
  color: #336aa4;
}
.text-black-dk {
  color: #21446a;
}
.text-black-dker {
  color: #1b3856;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.text-muted {
  color: #a4a59a;
}
.pos-rlt {
  position: relative;
}
.pos-stc {
  position: static !important;
}
.pos-abt {
  position: absolute;
}
.pos-fix {
  position: fixed;
}
.show {
  visibility: visible;
}
.line {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
}
.line-xs {
  margin: 0;
}
.line-lg {
  margin-top: 15px;
  margin-bottom: 15px;
}
.line-dashed {
  border-style: dashed !important;
  background-color: transparent;
  border-width: 0;
}
.no-line {
  border-width: 0;
}
.no-border,
.no-borders {
  border-color: transparent;
  border-width: 0;
}
.no-border-right {
  border-right: 0;
}
.no-radius {
  border-radius: 0;
}
.block {
  display: block;
}
.block.hide {
  display: none;
}
.inline {
  display: inline-block !important;
}
.none {
  display: none;
}
.pull-none {
  float: none;
}
.rounded {
  border-radius: 500px;
}
.clear {
  display: block;
  overflow: hidden;
}
.no-bg {
  background-color: transparent;
  color: inherit;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cleared {
  clear: both;
}
.l-h {
  line-height: 1.42857143;
}
.l-h-0x {
  line-height: 0;
}
.l-h-1x {
  line-height: 1.2;
}
.l-h-2x {
  line-height: 2em;
}
.l-s-1x {
  letter-spacing: 1;
}
.l-s-2x {
  letter-spacing: 2;
}
.l-s-3x {
  letter-spacing: 3;
}
.font-normal {
  font-weight: normal;
}
.font-thin {
  font-weight: 300;
}
.font-bold {
  font-weight: 600;
}
.font-bolder {
  font-weight: 700;
}
.text-3x {
  font-size: 3em;
}
.text-2x {
  font-size: 2em;
}
.text-lg {
  font-size: 20px;
}
.text-md {
  font-size: 19px;
}
.text-base {
  font-size: 16px;
}
.text-sm {
  font-size: 15px;
}
.text-xs {
  font-size: 14px;
}
.text-xxs {
  text-indent: -9999px;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-u-c {
  text-transform: uppercase;
}
.text-l-t {
  text-decoration: line-through;
}
.text-u-l {
  text-decoration: underline;
}
.text-active,
.active > .text,
.active > .auto .text {
  display: none !important;
}
.active > .text-active,
.active > .auto .text-active {
  display: inline-block !important;
}
.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.box-shadow-lg {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
.text-shadow {
  font-size: 170px;
  text-shadow: 0 1px 0 #dee5e7, 0 2px 0 #fcfdfd, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
}
.no-shadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.wrapper-xs {
  padding: 5px;
}
.wrapper-sm {
  padding: 10px;
}
.wrapper {
  padding: 15px;
}
.wrapper-md {
  padding: 20px;
}
.wrapper-lg {
  padding: 30px;
}
.wrapper-xl {
  padding: 50px;
}
.padder-lg {
  padding-left: 30px;
  padding-right: 30px;
}
.padder-md {
  padding-left: 20px;
  padding-right: 20px;
}
.padder {
  padding-left: 15px;
  padding-right: 15px;
}
.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padder-v-sm {
  padding-top: 7px;
  padding-bottom: 7px;
}
.no-padder {
  padding: 0 !important;
}
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}
.pull-out {
  margin: -10px -15px;
}
.padder-top-xl {
  padding-top: 70px;
}
.b {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.b-a {
  border: 1px solid #dee5e7;
}
.b-t {
  border-top: 1px solid #dee5e7;
}
.b-r {
  border-right: 1px solid #dee5e7;
}
.b-b {
  border-bottom: 1px solid #dee5e7;
}
.b-l {
  border-left: 1px solid #dee5e7;
}
.b-light {
  border-color: #edf1f2;
}
.b-dark {
  border-color: #cfdadd;
}
.b-black {
  border-color: #194167;
}
.b-primary {
  border-color: #3676C8;
}
.b-success {
  border-color: #11A04E;
}
.b-info {
  border-color: #597a96;
}
.b-warning {
  border-color: #fad733;
}
.b-danger {
  border-color: #f05050;
}
.b-white {
  border-color: #fff;
}
.b-dashed {
  border-style: dashed !important;
}
.b-l-light {
  border-left-color: #edf1f2;
}
.b-l-dark {
  border-left-color: #194167;
}
.b-l-black {
  border-left-color: #194167;
}
.b-l-primary {
  border-left-color: #3676C8;
}
.b-l-success {
  border-left-color: #11A04E;
}
.b-l-info {
  border-left-color: #597a96;
}
.b-l-warning {
  border-left-color: #fad733;
}
.b-l-danger {
  border-left-color: #f05050;
}
.b-l-white {
  border-left-color: #fff;
}
.b-l-2x {
  border-left-width: 2px;
}
.b-l-3x {
  border-left-width: 3px;
}
.b-l-4x {
  border-left-width: 4px;
}
.b-l-5x {
  border-left-width: 5px;
}
.b-2x {
  border-width: 2px;
}
.b-3x {
  border-width: 3px;
}
.b-4x {
  border-width: 4px;
}
.b-5x {
  border-width: 5px;
}
.r {
  border-radius: 2px 2px 2px 2px;
}
.r-2x {
  border-radius: 4px;
}
.r-3x {
  border-radius: 6px;
}
.r-l {
  border-radius: 2px 0 0 2px;
}
.r-r {
  border-radius: 0 2px 2px 0;
}
.r-t {
  border-radius: 2px 2px 0 0;
}
.r-b {
  border-radius: 0 0 2px 2px;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0 !important;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-xxl {
  margin-left: 50px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-l-n-xxl {
  margin-left: -50px;
}
.m-t-none {
  margin-top: 0 !important;
}
.m-t-xxs {
  margin-top: 2px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-xxl {
  margin-top: 50px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-t-n-xxl {
  margin-top: -50px;
}
.m-r-none {
  margin-right: 0 !important;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-xxl {
  margin-right: 50px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-r-n-xxl {
  margin-right: -50px;
}
.m-b-none {
  margin-bottom: 0 !important;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-xxl {
  margin-bottom: 50px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.m-b-n-xxl {
  margin-bottom: -50px;
}
.avatar {
  position: relative;
  display: block;
  border-radius: 500px;
  white-space: nowrap;
}
.avatar img {
  border-radius: 500px;
  width: 100%;
}
.avatar i {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  margin: 2px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
}
.avatar i.right {
  left: auto;
  right: 0;
}
.avatar i.bottom {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
}
.avatar i.left {
  top: auto;
  bottom: 0;
}
.avatar i.on {
  background-color: #11A04E;
}
.avatar i.off {
  background-color: #a4a59a;
}
.avatar i.busy {
  background-color: #f05050;
}
.avatar i.away {
  background-color: #fad733;
}
.avatar.thumb-md i {
  width: 12px;
  height: 12px;
  margin: 3px;
}
.avatar.thumb-sm i {
  margin: 1px;
}
.avatar.thumb-xs i {
  margin: 0;
}
.w-1x {
  width: 1em;
}
.w-2x {
  width: 2em;
}
.w-3x {
  width: 3em;
}
.w-xxs {
  width: 60px;
}
.w-xs {
  width: 90px;
}
.w-sm {
  width: 150px;
}
.w {
  width: 200px;
}
.w-md {
  width: 240px;
}
.w-lg {
  width: 280px;
}
.w-xl {
  width: 320px;
}
.w-xxl {
  width: 360px;
}
.w-access {
  width: 420px;
}
.w-mid {
  width: 500px;
}
.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.thumb-xl {
  width: 128px;
  display: inline-block;
}
.thumb-lg {
  width: 96px;
  display: inline-block;
}
.thumb-md {
  width: 64px;
  display: inline-block;
}
.thumb {
  width: 50px;
  display: inline-block;
}
.thumb-sm {
  width: 40px;
  display: inline-block;
}
.thumb-xs {
  width: 34px;
  display: inline-block;
}
.thumb-xxs {
  width: 30px;
  display: inline-block;
}
.thumb-wrapper {
  padding: 2px;
  border: 1px solid #dee5e7;
}
.thumb img,
.thumb-xs img,
.thumb-sm img,
.thumb-md img,
.thumb-lg img,
.thumb-btn img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.img-full {
  width: 100%;
}
.img-full img {
  width: 100%;
}
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollable.hover {
  overflow-y: hidden !important;
}
.scrollable.hover:hover {
  overflow: visible !important;
  overflow-y: auto !important;
}
.smart .scrollable {
  overflow-y: auto !important;
}
.scroll-x,
.scroll-y {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-x {
  overflow-x: auto;
}
.hover-action {
  display: none;
}
.hover-rotate {
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}
.hover-anchor:hover > .hover-action,
.hover-anchor:focus > .hover-action,
.hover-anchor:active > .hover-action {
  display: inherit;
}
.hover-anchor:hover > .hover-rotate,
.hover-anchor:focus > .hover-rotate,
.hover-anchor:active > .hover-rotate {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
}
.backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/*desktop*/
@media screen and (min-width: 992px) {
  .col-lg-2-4 {
    width: 20.000%;
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm.show {
    display: inherit !important;
  }
  .no-m-sm {
    margin: 0 !important;
  }
}
/*phone*/
@media (max-width: 767px) {
  .w-auto-xs {
    width: auto;
  }
  .shift {
    display: none !important;
  }
  .shift.in {
    display: block !important;
  }
  .row-2 [class*="col"] {
    width: 50%;
    float: left;
  }
  .row-2 .col-0 {
    clear: none;
  }
  .row-2 li:nth-child(odd) {
    clear: left;
    margin-left: 0;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .no-border-xs {
    border-width: 0;
  }
  .pull-none-xs {
    float: none !important;
  }
  .pull-right-xs {
    float: right !important;
  }
  .pull-left-xs {
    float: left !important;
  }
  .dropdown-menu.pull-none-xs {
    left: 0;
  }
  .hidden-xs.show {
    display: inherit !important;
  }
  .wrapper-lg,
  .wrapper-md {
    padding: 15px;
  }
  .padder-lg,
  .padder-md {
    padding-left: 15px;
    padding-right: 15px;
  }
  .no-m-xs {
    margin: 0 !important;
  }
}
.butterbar {
  position: relative;
  margin-bottom: -3px;
  height: 3px;
}
.butterbar .bar {
  position: absolute;
  height: 0;
  width: 100%;
  text-indent: -9999px;
  background-color: #597a96;
}
.butterbar .bar:before {
  content: "";
  height: 3px;
  position: absolute;
  left: 50%;
  right: 50%;
  background-color: inherit;
}
.butterbar.active {
  -webkit-animation: changebar 2.25s infinite 0.75s;
  -moz-animation: changebar 2.25s infinite 0.75s;
  animation: changebar 2.25s infinite 0.75s;
}
.butterbar.active .bar {
  -webkit-animation: changebar 2.25s infinite;
  -moz-animation: changebar 2.25s infinite;
  animation: changebar 2.25s infinite;
}
.butterbar.active .bar:before {
  -webkit-animation: movingbar 0.75s infinite;
  -moz-animation: movingbar 0.75s infinite;
  animation: movingbar 0.75s infinite;
}
/* Moving bar */
@-webkit-keyframes movingbar {
  0% {
    left: 50%;
    right: 50%;
  }
  99.9% {
    left: 0%;
    right: 0%;
  }
  100% {
    left: 50%;
    right: 50%;
  }
}
@-moz-keyframes movingbar {
  0% {
    left: 50%;
    right: 50%;
  }
  99.9% {
    left: 0%;
    right: 0%;
  }
  100% {
    left: 50%;
    right: 50%;
  }
}
@keyframes movingbar {
  0% {
    left: 50%;
    right: 50%;
  }
  99.9% {
    left: 0%;
    right: 0%;
  }
  100% {
    left: 50%;
    right: 50%;
  }
}
/* change bar */
@-webkit-keyframes changebar {
  0% {
    background-color: #597a96;
  }
  33.3% {
    background-color: #597a96;
  }
  33.33% {
    background-color: #fad733;
  }
  66.6% {
    background-color: #fad733;
  }
  66.66% {
    background-color: #3676C8;
  }
  99.9% {
    background-color: #3676C8;
  }
}
@-moz-keyframes changebar {
  0% {
    background-color: #597a96;
  }
  33.3% {
    background-color: #597a96;
  }
  33.33% {
    background-color: #fad733;
  }
  66.6% {
    background-color: #fad733;
  }
  66.66% {
    background-color: #3676C8;
  }
  99.9% {
    background-color: #3676C8;
  }
}
@keyframes changebar {
  0% {
    background-color: #597a96;
  }
  33.3% {
    background-color: #597a96;
  }
  33.33% {
    background-color: #fad733;
  }
  66.6% {
    background-color: #fad733;
  }
  66.66% {
    background-color: #3676C8;
  }
  99.9% {
    background-color: #3676C8;
  }
}
