<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
    <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
    <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a ui-sref="dashboard.home" class="navbar-brand text-lt">
    <img src="assets/img/logo.png" alt="logo" class="">
    <span class="hidden-folded">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->
<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
        <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
    </div>
    <div class="nav navbar-nav">
        <a href class="btn no-shadow navbar-btn">{{user.organisation.name}}</a>
    </div>
    <!-- / buttons -->
    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>
        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
            <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
            <img gravatar-src-once="user.email" gravatar-size="100">
            <i class="on md b-white bottom"></i>
            </span>
            <span class="hidden-sm hidden-md">{{user.firstname}} {{user.lastname}}</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="dashboard.home">Profile</a>
                </li>
                <li>
                    <a ui-sref="app.docs">
                    <span class="label bg-info pull-right">new</span>
                    Help
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="logout()">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- / navbar right -->
</div>
<!-- / navbar collapse -->