<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Navigation</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="dashboard.home">
        <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
        <span class="font-bold">Dashboard</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.main">
        <i class="glyphicon glyphicon-th"></i>
        <span class="font-bold">Application Layout</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ng-click="logout()">
        <i class="fa fa-power-off icon text-danger-dker"></i>
        <span class="font-bold">Logout</span>
        </a>
    </li>
    <li class="line dk"></li>
</ul>
<!-- / list -->